header{
    background-color: white;
    background-size: cover;
    padding: 7px;
    margin: -10px;
}

hr {
  clear:both;
  margin: -1px -20px 20px;
  border: 0;
  height: 20px;
  background-image: linear-gradient(to right, white, transparent, white), 
                    linear-gradient(transparent, rgb(100, 148, 237) 150%);
  background-image: -moz-linear-gradient(to right, white, transparent, white), 
                    -webkit-linear-gradient(transparent, rgb(100, 148, 237) 150%);
  background-image: -ms-linear-gradient(to right, white, transparent, white), 
                    -webkit-linear-gradient(transparent, rgb(100, 148, 237) 150%);  
 }

h1{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

h3{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

a:link {
    color: rgb(49, 99, 194);
  }
  
  a:visited {
    color: cornflowerblue;
  }
  
  a:hover {
    color: rgb(195, 216, 255);
  }

body{
    background-color: cornflowerblue;
}

.mainContent{
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
}

div.scroll {
    width: 1300px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-right: 100px;
    margin-left: 50px; 
  }
  
div.scroll img {
    padding: 0px;
  }

  /* img:hover {
    opacity: 50%;
  } */

div{
    display:inline-flex;
  }
  
  .img-overlay {
    position: relative;
    width:100%;
  }
  
  .img-overlay-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.5);
  }
  
  .img-overlay:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }


footer{
        background-color: white;
        background-size: cover;
        text-align: center;
        padding: 2px;
        margin: -10px;
        position: fixed;
        bottom: 0;
        width: 100%;
}